@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.light-theme {
    background-color: #e9ebec;
}

.header {
    background: linear-gradient(0deg, rgba(233, 235, 236, 1) 33%, rgba(150, 191, 245, 0.7721463585434174) 100%);
}
.circle {
    width: 50px;
    height: 50px;
    margin: 0 auto 50px;
    padding-top: 20px;
}

.btn__toggle {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../img/btn_change_themes.svg);
    background-size: contain;
}

.img-avatar {
    width: 100%;
    max-width: 255px;
    height: auto;
}

.h1 {
    font-size: 65px;
    line-height: 60px;
    -webkit-text-stroke-width: 2px;
    margin: 20px 20px 5px;

    color: #3D3D3D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-color: black;
}

.h2 {
    font-size: 25px;
    line-height: 24px;
    margin: 20px 20px;

    color: #575757;
}

.h3 {
    font-size: 20px;
    margin: 20px 20px;
    font-style: oblique;
    opacity: 0.2;
}

.portfolio__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.border {
    max-width: 70%;
    height: 1px;
    margin: 50px auto;

    border: solid 1px rgb(169, 153, 153);
}

.section__contacts {
    min-height: fit-content;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.contacts__grid-item img:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.text__about-me {
    max-width: 600px;
    margin: 0 auto;
}

.text__h2 {
    text-align: center;
}

.text__p {
    text-align: center;
    padding: 0 15px;
}

.footer {
    height: 150px;
}
.footer {
    background: linear-gradient(180deg, rgba(233, 235, 236, 1) 33%, rgba(150, 191, 245, 0.7721463585434174) 100%);
}
.footer__name {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

/* DARK THEME */

.dark-theme {
    background-color: #3D3D3D;
}

body.dark-theme .footer {
    background:linear-gradient(180deg, rgba(63, 63, 63, 0) 33%, rgba(150, 191, 245, 0.7721463585434174) 100%);
}

body.dark-theme .h1 {
    color: #e9ebec;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-color: rgb(255, 255, 255); 
}
body.dark-theme .h2 {
    color: #b0b0b0;
}
body.dark-theme .h3 {
    opacity: 0.7;
}
body.dark-theme .text__about-me {
    color: #b0b0b0;
}

body.dark-theme .header {
    background: linear-gradient(0deg, rgba(63, 63, 63, 0) 33%, rgba(150, 191, 245, 0.7721463585434174) 100%);
}

@media screen and (min-width:850px) {
    .border {
        width: 645px;
    }
}

@media screen and (max-width:850px) {
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .h1 {
        font-size: 55px;
        text-align: center;
    }

    .h2 {
        font-size: 20px;
        text-align: center;
    }

    .h3 {
        font-size: 15px;
        text-align: center;
    }
}